[Unit]
Description=Configure Raspberry Pi as a pibunny

[Service]
ExecStart=/usr/bin/env python3 /opt/pibunny/pibunny.py
StandardOutput=journal+console
StandardError=journal+console
SyslogIdentifier=pibunny
WorkingDirectory=/opt/pibunny

[Install]
WantedBy=basic.target
